@inherits LayoutComponentBase


<div class="wrapper">
    <NavMenu />

    <div class="main-panel ps-container ps-theme-default ps-active-y">

        <NavBar />
        <div class="content">
            @Body
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    © 2021 Copyright:&nbsp;<a href="#"> Kevin BEAUGRAND</a>
                </div>
            </div>
        </footer>
    </div>
</div>