@inherits LayoutComponentBase
 <NavBar /> 
 <NavMenu /> 
<main class="mt-5 pt-3">
    @Body
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright float-right">
                © 2021 Copyright:&nbsp;<a href="#"> CGI France - Grand Est</a>
            </div>
        </div>
    </footer>
</main>
