@using AzureIoTHub.Portal.Shared.Security;
@using Microsoft.AspNetCore.Components.Authorization


        <MudDrawerHeader>
            <MudText Typo="Typo.h6"><a href="#">Home</a></MudText>
        </MudDrawerHeader>
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="/devices">Devices</MudNavLink>
                @if (context.User.IsInRole(RoleNames.Admin))
                {
                    <MudNavLink Href="/users">Users</MudNavLink>
                }
                <MudNavGroup Title="Gateways" Expanded="true">
                    <MudNavLink Href="/gateways">Overview</MudNavLink>
                    <MudNavLink Href="/configurations">Configuration</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/sensor_models">Sensor Model</MudNavLink>

            </Authorized>
        </AuthorizeView>