@using AzureIoTHub.Portal.Shared.Security;
@using Microsoft.AspNetCore.Components.Authorization

<!--<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="bx bxl-c-plus-plus"></i>
            <div class="logo_name">Azure IoT Hub Portal</div>
        </div>
        <i class="bx bxl-menu" id="btn"></i>
    </div>
    <AuthorizeView>
        <Authorized>
            <ul class="nav_list">
                <ul>
                    <li>
                        <NavLink class="nav-link" href="devices" Match="NavLinkMatch.Prefix">
                            <i class='bx bx-devices'></i>
                            <span class="link_name">Devices</span>
                        </NavLink>-->
                        @* <span class="tooltip">Devices</span> *@
                    <!--</li>
                    <li>
                        <NavLink class="nav-link" href="gateways" Match="NavLinkMatch.Prefix">
                            <i class='bx bx-devices'></i>
                            <span class="link_name">Gateways</span>
                        </NavLink>-->
                        @* <span class="tooltip">Gateways</span> *@
                    <!--</li>
                    <li>
                        <NavLink class="nav-link" href="devices" Match="NavLinkMatch.Prefix">
                            <i class='bx bx-cog'></i>
                            <span class="link_name">Configuration Gateways</span>
                        </NavLink>-->
                        @* <span class="tooltip">Configuration Gateways</span> *@
                    <!--</li>
                    <li>
                        <NavLink class="nav-link" href="users" Match="NavLinkMatch.Prefix">
                            <i class='bx bx-user'></i>
                            <span class="link_name">Users</span>
                        </NavLink>-->
                        @* <span class="tooltip">Users</span> *@
                    <!--</li>
                    <li>
                        <NavLink class="nav-link" href="devices" Match="NavLinkMatch.Prefix">
                            <i class='bx bx-devices'></i>
                            <span class="link_name">Sensor model</span>
                        </NavLink>-->
                        @* <span class="tooltip">Sensor model</span> *@
                    <!--</li>
                </ul>
            </ul>
        </Authorized>
    </AuthorizeView>
</div>-->


@code {

}
