@page "/dashboard"

@inject IDashboardLayoutService DashboardLayoutService

<div class="d-flex mb-4">
    <MudText Typo="Typo.h5" Color="Color.Primary">Dashboard</MudText>
    <MudSpacer />
    <MudTooltip id="refresh-dashboard" Duration="1000" Text="Refresh Dashboard">
        <MudIconButton Icon="@Icons.Filled.Refresh" Color="Color.Inherit" OnClick="@DashboardLayoutService.RefreshDashboard"/>
    </MudTooltip>
</div>

<DashboardMetrics />
