@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.custom-form {
    display: flex !important;
    align-items: baseline !important;
}

.custom-disabled{
    background-color : #e2e2e2;
}
