@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.custom-form {
    display: flex !important;
    align-items: baseline !important;

    .command_button {
        padding: 3px;
    }
}

.custom-disabled {
    background-color: #e2e2e2;
}

.custom-centered-container {
    display: flex !important;
    justify-content: center !important;
}

.custom-centered-item {
    margin : auto;
}

.custom-img-sm{
    width : 35px;
}

.img-device-model {
    max-width: 200px;
    margin-top: 1em;
}

/*//////////////////// Search Panel ////////////////*/
.search-panel {

}
////////////////////////////////////////////////////////


///////////// pop up ajout gateway ///////////
.mud-dialog-width-sm {
    max-width: fit-content;

    .Add-dialog {
        width: fit-content;

        .mud-input-control {
            .mud-input-control-input-container {
                width: 300px;
            }
        }
    }
}
////////////////////////////////////////////////
//// Detail gateway //////////////
.grid-custom {
    .last-deployment {
        background: gainsboro;
        padding: 4px;
    }
}

.btn {
    font-size: 0.9em;

    &:hover {
        color: #000000;
    }
}

.form-group {
    font-size: 0.9em;
}

.connectionString-modal-card {
    .form-group {
        align-items: baseline;
        margin: 10px;
        width: max-content;

        label {
            padding-right: 2px;
            font-size: 1.1em;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
//////////////////////
