---
---

@import "{{ site.theme }}";

#banner {
    right: 0;
    margin-right: 0;
    
    #menu{
        margin-left: 25%;

        ul > li {
            a {
                color: black;
                font-size: 20px;
                display: inline-block;
                margin-top: 15px;
                margin-right: 20px;
            }
        }
    }
}

.wrapper {
    width: 960px;

    nav{
        margin-left: -940px;
        width: 440px;
        max-height: calc(100vh - 300px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 20px;

        ul{
            li{
                &.tag-h1 {
                    font-size: 20px;
                    margin-top: 25px;
                }
                &.tag-h2 {
                    font-size: 16px;
                    margin-top: 15px;
                }
                &.tag-h3 {
                    display: none;
                }
            }
        }
    }

    section{
        width: 900px;
    }

    footer {
        margin-left: -730px;
    }
}
