@using AzureIoTHub.Portal.Shared.Models.Device
@inject HttpClient Http
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudDialog>
    <DialogContent>
        <p>Delete @DeviceId ?</p>
        <br />
        <p><i>Warning : this cannot  be undone.</i></p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="DeleteDevice">Delete</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string DeviceId { get; set; }

    void Cancel() => MudDialog.Cancel();

    private async Task DeleteDevice()
    {
        var result = await Http.DeleteAsync($"api/edge-device/{DeviceId}");

        if (!result.IsSuccessStatusCode)
        {
            Snackbar.Add($"Oh oh, something went wrong while deleting device {DeviceId}... ", Severity.Error);
        }

        Snackbar.Add($"Device {DeviceId} has been successfully deleted!", Severity.Success);
        MudDialog.Close(DialogResult.Ok(true));
    }
}
