@inject HttpClient Http
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <p>Delete LoRaWAN Concentrator @deviceId ?</p>
        <br />
        <p><i>Warning : this cannot  be undone.</i></p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="DeleteDevice">Delete</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    public Error Error {get; set;}
    
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string deviceId { get; set; }
    
    void Cancel() => MudDialog.Cancel();

    /// <summary>
    /// Sends a POST request to the ConcentratorsController, to delete the device from the Azure IoT Hub
    /// </summary>
    /// <returns></returns>
    private async Task DeleteDevice()
    {
        try
        {
            await Http.DeleteAsync($"api/lorawan/concentrators/{deviceId}");

            Snackbar.Add($"Device {deviceId} has been successfully deleted!", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
        catch (ProblemDetailsException exception)
        {
            Error?.ProcessProblemDetails(exception);
        }
    }
}
