@page "/devices"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AzureIoTHub.Portal.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h2 class="card-title ">Devices</h2>
                    <p class="card-category">This shows the IoT Hub Devices availiable</p>
                </div>
                <div class="card-body">
                    @if (result == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped align-middle text-center">
                                <colgroup>
                                    <col class="col-md-7">
                                    <col class="col-md-1">
                                    <col class="col-md-1">
                                    <col class="col-md-2">
                                    <col class="col-md-1">
                                </colgroup>
                                <thead class="text-primary">
                                    <tr>
                                        <th align="left">Device ID</th>
                                        <th>Status</th>
                                        <th>Connection State</th>
                                        <th>Last Activity Time</th>
                                        <th>See details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in result)
                                    {
                                        <tr>
                                            <td class="text-break" align="left">@item.DeviceID</td>
                                            <td>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" checked=@(item.IsEnabled) disabled>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="material-icons @(item.IsConnected ? "text-success" : "text-dark")">
                                                    <i class=@(item.IsConnected ? "bi-wifi" : "bi-wifi-off")></i>
                                                </span>
                                            </td>
                                            <td>@item.LastActivityDate</td>
                                            <td>
                                                <a href="@($" devicedetail /{ item.DeviceID} ")" class="btn btn-primary table-btn btn-sm"> <i class="bi-search"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private DeviceListItem[] result;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            result = await Http.GetFromJsonAsync<DeviceListItem[]>("Devices");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
