.validation-error-message {
    color: var(--mud-palette-error) !important;
    margin: 0;
    font-size: .75rem;
    text-align: start;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: .03333em;
}

.scrollable-tab-content {
    overflow-x: hidden;
    height: calc(100vh - 270px);
}
