version: '3.4'

services:
  database:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: postgrePassword
      POSTGRES_DB: cgigeiotdemo
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d cgigeiotdemo'"]
      interval: 10s
      timeout: 5s
      retries: 5
  mysql:
    image: mysql:8-debian
    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: cgigeiotdemo
    ports:
      - 3306:3306
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@changeme.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - 5050:80
    volumes:
       - pgadmin:/var/lib/pgadmin
    depends_on:
      database:
        condition: service_healthy
  IoTHub.Portal.Server:
    image: ${DOCKER_REGISTRY-}iothubportalserver
    build:
      context: .
      dockerfile: IoTHub.Portal.Server/Dockerfile
    depends_on:
      database:
        condition: service_healthy
volumes:
  pgdata:
  pgadmin:
