services:
  database:
    image: ${DOCKER_REGISTRY}/postgres:14-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: postgrePassword
      POSTGRES_DB: cgigeiotdemo
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d cgigeiotdemo'"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

  portal:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.debug
      args:
        BUILD_VERSION: 0.0.0
        GITHUB_RUN_NUMBER: 0
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80
      Azure__StorageAccount__ConnectionString: "${STORAGEACCOUNT__CONNECTIONSTRING}"
      Azure__IoTDPS__ConnectionString: "${IOTDPS__CONNECTIONSTRING}"
      Azure__IoTDPS__ServiceEndpoint: "${IOTDPS__SERVICEENDPOINT}"
      Azure__IoTDPS__IDScope: "${IOTDPS__IDSCOPE}"
      Azure__IoTHub__ConnectionString: "${IOTHUB__CONNECTIONSTRING}"
      Azure__IoTHub__EventHub__ConsumerGroup: "${IOTHUB__EVENTHUB__CONSUMERGROUP}"
      Azure__IoTHub__EventHub__Endpoint: "${IOTHUB__EVENTHUB__ENDPOINT}"
      Azure__LoRaKeyManagement__Code: "${LORAKEYMANAGEMENT__CODE}"
      Azure__LoRaKeyManagement__Url: "${LORAKEYMANAGEMENT__URL}"
      CloudProvider: "${CLOUDPROVIDER}"
      Ideas__Authentication__Header: "${IDEAS__AUTHENTICATION__HEADER}"
      Ideas__Authentication__Token: "${IDEAS__AUTHENTICATION__TOKEN}"
      Ideas__Enabled: "${IDEAS__ENABLED}"
      Ideas__Url: "${IDEAS__URL}"
      JobStore__ConnectionString: "${JOBSTORE__CONNECTIONSTRING}"
      LoRaFeature__Enabled: "${LORAFEATURE_ENABLED}"
      OIDC__ApiClientId: "${OIDC__APICLIENTID}"
      OIDC__Authority: "${OIDC__AUTHORITY}"
      OIDC__ClientId: "${OIDC__CLIENTID}"
      OIDC__MetadataUrl: "${OIDC__METADATAURL}"
      OIDC__Scope: "${OIDC__SCOPE}"
      OIDC__ValidateAudience: "${OIDC__VALIDATEAUDIENCE}"
      PortalName: "${PORTALNAME}"
      PostgreSQL__ConnectionString: "${POSTGRESQL__CONNECTIONSTRING}"
      StorageAccount__BlobContainerName: "${STORAGEACCOUNT__BLOBCONTAINERNAME}"
    depends_on:
      database:
        condition: service_healthy
    ports:
      - ${HOST_PORT}:80

volumes:
  pgdata:
