<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Azure IoT Edge LoRaWAN Ruleset" Description="These StyleCop rules are customized for Azure IoT Edge LoRaWAN projects." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1810" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
  </Rules>
</RuleSet>