name: Lint Documentation
on:
  pull_request:
    branches:
      - docs/main
      - docs/main-vnext
  workflow_dispatch:
jobs:
  lint-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: DavidAnson/markdownlint-cli2-action@v14
        with:
          globs: 'docs/**/*.md'