name: Lint Documentation
on:
  pull_request:
    branches: [ docs/main ]
  workflow_dispatch:
jobs:
  lint-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: DavidAnson/markdownlint-cli2-action@v10
        with:
          globs: 'docs/**/*.md'
